.classpath
.factorypath
.project
.settings
.springBeans
.pydevproject
.idea
.run
*.iml
target
tomcat
*.log
*.orig
logs
**/.toDelete
.DS_Store
support_tools/sparrow/data/*
support_tools/sparrow/__pycache__/*
support_tools/sparrow/*.pyc
.temp*
venv/*
.flattened-pom.xml
**/node/
**/node_modules/
**/coverage/
**/dist/
/.metadata/
**/.sts4-cache
**/dependency-reduced-pom.xml
x.out
mqjms.log*

### VisualStudioCode ###
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
database/viper_neo4j_triggers/scripts/csvs/*.offline.csv
database/viper_neo4j_triggers/scripts/csvs/uuids/*.csv


# Created by https://www.gitignore.io/api/sublimetext
# Edit at https://www.gitignore.io/?templates=sublimetext

### SublimeText ###
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using Sublime Text
*.sublime-project

# SFTP configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings
# End of https://www.gitignore.io/api/sublimetext

# Gradle specific files
.gradle
build
*/out/

.metadata
*__pycache__*
.pyc

cg-cp-consumer-neo4j/src/main/resources/application-*.yml
java_*.hprof

# Snyk generated files
.dccache

# cg-neo4j-trigger jars used when running neo4j locally
*.jar
